@import "./variables.scss";

.notification-container {
  padding-bottom: 2.6em;
  @media screen and (max-width:992px) {
    position: relative;
    padding-bottom: 7.5em;
  }
  .notification-head {
    display: flex;
    justify-content: center;
    margin: 1.3em 0;
    padding-top: 2em;
    @media screen and (min-width: 992px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2.56em 0.31em 1em 0.31em !important;
    }
    .achievements-title {
      margin: 0 !important;
    }
    h5 {
      font-size: 1.5em;
      font-weight: 900;
      line-height: 3.3em;
      color: $white;
      @media screen and (min-width: 768px) {
        margin-right: 0.5em;
        font-size: 2em;
      }
    }
  }
  .btn-more-notification {
    @media screen and (max-width: 992px) {
      position: absolute;
      bottom: 2em;
      right: 0;
      margin-top: 2.7em;
      display: flex;
      justify-content: center;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $dark-color;
      background-color: $white;
      width: 12.56em;
      height: 3.75em;
      border-radius: 0.875em;
      transition: all 0.3s linear;
      font-size: 1.125em;
      font-weight: 400;
      margin-top: 0.7em;

      &:hover {
        background: rgba(149, 154, 189, 1);
        opacity: 1;
        color: #fff !important;
      }
    }
  }
}
