// Variables
@import "./variables.scss";

.bg-statistics {
  background-color: $bg-statistics-color;
  background-image: $bg-statistics-image;
  font-family: $IRANSans-font;
  padding: 1.7em 0;
.container{
  .statistics-item {
    min-width: 10em;
    @media screen and (min-width:992px) {
      min-width: 7em;
    }
    .counter-value {
      font-size: $font-size-22;
      font-weight: $font-weight-700;
      line-height: $line-height-34;
      color: $bg-h6-color;
      transition: all 0.3s linear;

      @media screen and (min-width: 768px) {
        font-size: $font-size-47;
        line-height: $line-height-73;
      }
    }
    &:hover {
      .counter-value {
        color: $bg-yellow;
      }
      p {
        color: $bg-darkBlue;
      }
    }
  }

  p {
    font-size: $font-size-13;
    font-weight: $font-weight-500;
    line-height: $line-height-20;
    color: $bg-p-color;
    transition: all 0.3s linear;

    @media screen and (min-width: 768px) {
      font-size: $font-size-16;
      line-height: $line-height-25;
    }
  }
}
}
